name: Build and Deploy
on:
  push:
    branches: [ "main" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/configure-pages@v5
      - name: Install
        run: npm install
      - name: Build
        run: npm run build
      - uses: actions/upload-pages-artifact@v4
        with:
          path: 'dist/'
          retention-days: 7
  deploy:
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/deploy-pages@v4
